commands:
  01_install_nodejs_npm:
    command: "yum install -y --enablerepo=epel nodejs npm &>> /tmp/deploy.log"
  02_install_sequelize:
    command: "export PATH=$PATH; npm install -g sequelize-cli &>> /tmp/deploy.log"
container_commands:
  01_sequelize_db_migrate:
    command: "export PATH=/usr/local/bin:/bin:/usr/bin; sequelize db:migrate &>> /tmp/deploy.log"
