commands:
  01_install_postgres:
    command: "yum -y install postgresql-server"
  03_create_postgres_root_user:
    command: "sudo -u postgres createuser root"
  04_start_postgres:
    command: "service postgresql start"

container_commands:
  01_createdb:
    command: "sudo createdb tacos_development"
